ipykernel
python-dotenv
langchain
langgraph
langchain-openai
langchain-community
langchain-core
langchain-groq
arxiv
wikipedia
langchain-ollama
faiss-cpu
chromadb
langchain_chroma
streamlit
tavily-python